body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #2E3094;
    font-family: Arial, sans-serif;
    font-size: 16px;

    padding: 10px;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.nav-link:hover {
    color: yellow;
}